<!-- appweb/templates/appweb/base.html -->
{% load static %}  <!-- Cargar la etiqueta static para los archivos estáticos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZSNorte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consejo de Zona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Equipo de Zona</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkDistritos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Distritos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDistritos">
                        <a class="dropdown-item" href="#">Distrito 1</a>
                        <a class="dropdown-item" href="#">Distrito 2</a>
                        <a class="dropdown-item" href="#">Distrito 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkVoluntariado" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voluntariado
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkVoluntariado">
                        <a class="dropdown-item" href="#">Voluntariado 1</a>
                        <a class="dropdown-item" href="#">Voluntariado 2</a>
                        <a class="dropdown-item" href="#">Voluntariado 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkRamas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ramas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRamas">
                        <a class="dropdown-item" href="#">Rama 1</a>
                        <a class="dropdown-item" href="#">Rama 2</a>
                        <a class="dropdown-item" href="#">Rama 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mapa</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-5">
        {% block content %}
        <!-- Este es el bloque de contenido principal -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <!-- Distritos Column -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Distritos</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Distrito 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Distrito 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Distrito 3</a>
                        </li>
                    </ul>
                </div>

                <!-- Voluntariado Column -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Voluntariado</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Voluntariado 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Voluntariado 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Voluntariado 3</a>
                        </li>
                    </ul>
                </div>

                <!-- Ramas Column -->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Ramas</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Rama 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Rama 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Rama 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0&appId=463233580504018&autoLogAppEvents=1"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
